//colors
$darkBrown: hsl(13, 82%, 9%);
$black: hsl(0, 100%, 2%);
$deepBrown: hsl(21, 49%, 16%);
$grayishBrown: hsl(26, 32%, 90%);
$lightBrown: hsl(21, 48%, 52%);
$white: hsl(0, 0, 100%);

//fonts sizes
$font-sm: 0.875rem; //14px
$font-med: 1.125rem; //18px

//with opacity
$darkBrownopc: hsla(14, 91%, 5%, 0.658);
$deepBrownopc: hsla(21, 49%, 7%, 0.699);